<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Vehicles</title>
    </head>

    <body>
        <h1>Vehicles page</h1>

        <div th:if="${vehicles.empty}">
            <div>No vehicles found</div>
        </div>

        <div th:each="vehicle : ${vehicles}">
            <p>
                <span th:text="${vehicle.vehicleManufacturer}"></span>
                &nbsp;
                <span th:text="${vehicle.vehicleModel}"></span>
            </p>
        </div>
    </body>
</html>